DATABASE_URL=
NEXTJS_ENV=development
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_KEY=
DODO_PAYMENTS_RETURN_URL=http://localhost:3000/dashboard
DODO_PAYMENTS_ENVIRONMENT=test_mode
DODO_PRODUCT_ID_INDIE=
DODO_PRODUCT_ID_GROWTH=
DODO_PRODUCT_ID_AGENCY=
DODO_PRODUCT_ID_SCALE=
